* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;   
}
ul {
  list-style: none;
}
p {
  font-weight: 300;
}
/**********************FOOTER********************/
.container_footer {
  display: flex;  
  flex-direction: column;
  width: 100vw;
  height: max-content;
  background: black;    
}
/**********************FOOTER LADO IZQUIERDA********************/
.container_footer_izquierda {
  display: flex; 
  flex-direction: column;
  width: 100%;
  height: max-content;  
}
.nav_bar_footer {
  display: flex; 
  flex-direction: column;
  width: 100%; 
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
.nav_bar_footer ul {
  font-size: 2rem; 
}
.nav_bar_footer ul li .ancla_verde:hover {
  color: green;
}
.nav_bar_footer ul li .ancla_gris:hover {
  color: grey;
}
.nav_bar_footer ul li .ancla_rojo:hover {
  color: red;
}
.nav_bar_footer ul h3 {
  font-size: 2rem; 
  color: white;
}
.redes_footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: max-content; 
}
.redes_footer h3 {
  width: 100%;
  color: white;
  font-size: 2rem;
}
.iconos_redes {
  display: flex; 
  justify-content: center; 
  margin: 0;  
}
.iconos_redes img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.iconos_redes img:hover {
  scale: 1.2;
}
/**********************FOOTER LADO DERECHO********************/
.container_footer_derecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;  
}
.footer_logo {
  display: flex;
  justify-content: center;
  width: auto;
  height: 150px;
}
.footer_logo img {
  width: 100%;  
  height: 100%;
}
.metodos_pago_footer {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.metodos_pago_footer img {
  width: 100%;
  height: auto; 
}