* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;   
}
ul {
  list-style: none;
}
p {
  font-weight: 300;
}
/**************************Estilos HEADER****************************/
header .menu_hamburguesa {
  display: none;
}
.header {
  display: flex; 
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  color: white;
  height: 150px;  
  z-index: 1;
  border-bottom: 1px solid white;  
}
.header_logo img {
  width: auto;
  height: 70px;
  padding-left: 40px;   
}
.header .nav_bar {
 width: max-content;
 padding-right: 40px;  
}
.nav_bar ul {
  display: flex;  
  height: 100%;
  justify-self: center;
  color: white;
}
.nav_bar ul li a { 
  color: white;
  font-size: 1.2rem; 
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin: 0 20px;
  border: 1px solid transparent;
}
.nav_bar ul li:hover { 
  scale: 1.1;    
}
.nav_bar a {
  max-width: max-content;
  background-color: transparent; 
}
/******Carrito de compras****/
.carrito_img {
  justify-self: center;
  width: 30px;
  height: 30px;
  padding: 0 40px;
  cursor: pointer;  
  font-size: 3rem;
}
.carrito_img i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.carrito_img i:hover {
 scale: 1.2;
}
.carrito {
  display: none;
  border-top: 1px solid white;
  width: 40%;  
  max-height:   80vh;
  max-width: 350px;
  margin-top: 150px;  
  overflow-x: scroll;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  right: 0;;
  transition: 0.3s;
  color: black;
  z-index: 2;
  background-color: white;  
}
.carrito .header_carrito {
  background-color:black;
  color: white;
  text-align: center;
  padding: 30px 0;
}
.carrito .header_carrito h3 {
  font-size: 2rem;  
}
.carrito .carrito_item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
  padding: 20px;
}
.carrito .carrito_item img {
  margin-right: 10px; 
  width: 50px;
  height: auto;
}
.carrito .carrito_item .carrito_item_titulo {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.carrito .carrito_item .selector_cantidad {
  display: inline-block;
  margin-right: 25px;  
}
.carrito .carrito_item .carrito_item_cantidad {
  border: none;
  font-size: 1.2rem;
  background: rgba(237, 236, 236, 0.918);
  display: inline-block;
  width: 60px;
  padding: 5px;
  text-align: center;
}
.carrito .carrito_item .selector_cantidad i{
  font-size: 1rem;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}
.carrito .carrito_item .carrito_item_precio {
  font-weight: bold;
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.carrito .carrito_item .btn_eliminar {
  position:absolute;
  right: 15px;
  top: 15px;
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}
.carrito .carrito_item .btn_eliminar:hover {
 scale: 1.05;
}
.carrito .carrito_item .btn_eliminar i {
  font-size: 1.5rem;
  justify-content: center;
  align-self: center;
}
.carrito_total {
  background-color: grey;
  padding: 30px;
}
.carrito_total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrito_total .btn_pagar {
  display: flex;
  width: 100%;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.carrito_total .btn_pagar:hover {
  scale: 1.05;
}
@media (max-width: 1000px)
{  
  .header .nav_bar ul {
    padding: 0;
  }  
  .header .nav_bar {
    width: max-content;  
    padding: 0;  
  }
  .nav_bar ul li a {
    margin: 0 10px;   
  } 
  .nav_bar ul li a {    
    font-size: 1rem;
  }   
/*******carrito******/
.carrito {
  width: 270px;
}
.carrito .carrito_item img {
  margin-right: 10px; 
  width: 30px;
  height: auto;
}
.carrito .carrito_item .carrito_item_titulo {
 font-size: 0.8rem;
}
.carrito .carrito_item .carrito_item_cantidad {
  font-size: 0.5rem;
  width: 40px;
  padding: 5px;
}
.carrito .carrito_item .selector_cantidad i{
  font-size: 0.5rem;
  width: 20px;
  height: 20px;
  line-height: 20px;  
}
.carrito .carrito_item .carrito_item_precio {  
  font-size: 0.8rem;
}
.carrito .carrito_item .btn_eliminar {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.carrito .carrito_item .btn_eliminar i {
  width: 20px;  
}
.carrito_total {
  padding: 15px;
}
.carrito_total .fila {
  font-size: 0.8rem;
}
.carrito_total .btn_pagar {
  font-size: 0.8rem;
  padding: 10px;
}
}
@media (max-width: 715px)
{  
  .header {
    padding: 0;
    justify-content: space-between;
    position: fixed;    
    width: 100%;  
    height: 80px;
    border-bottom: 2px solid black;    
  } 
  .header_logo {
    width: 60vw;
  }
  .header .nav_bar {
    display: flex;
  }
  .header .nav_bar .nav_bar__items {
    display: none;
    flex-direction: column; 
    position: absolute;
    top: 82px;
    left: 0;
    background-color: black;
    border-radius: 0 0 10px 0;   
    border-bottom: 2px solid white; 
    height: 100vh;
    width: 50vw;
    max-width: 200px;
    padding: 20px;
    line-height: 40px;    
  }
  .header .nav_bar .nav_bar__items li a {  
    display: block;    
    color: white;  
    width: 160px
  }
  .header .nav_bar .nav_bar_items {
    color: black;
  }
  .header .menu_hamburguesa {
    display: flex; 
    flex-direction: column;   
    width: 30vw;
    height: max-content;
    padding: 0 40px;
  }    
  .menu_hamburguesa div{
    width: 30px;
    height: 4px;
    border-radius: 20px;
    background-color: white;
    opacity: 1;
    margin: 1.5px 0;
  }  
  .header_logo img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;    
  }    
  /*******carrito****/
  .carrito_img {
    color: white;
    width: 30vw;
  }
  .carrito {
    border: 1px solid black;
    margin-top: 80px;
  }
}