* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;   
}
ul {
  list-style: none;
}
p {
  font-weight: 300;
}
/**************************Estilos HEADER****************************/
.header {
  display: flex; 
  position: fixed;
  width: 100vw;
  height: 100px;
  max-height: 500px; 
  justify-content: space-between;
  align-items: center;
  background-color:black;
  color: white;   
  z-index: 1;
  border-bottom: 1px solid white;  
}
.header .menu_hamburguesa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 40px; 
}
.linea_superior , .linea_medio , .linea_inferior {
  margin: 5px 10px;
  width: 40px;
  height: 10px;
  background: white;
  border-radius: 10px;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 100px;
}
.header_logo img {  
  width: auto;
  height: 80px;
}
.nav_bar {
  display: none;
  position: absolute;
  top: 100px;
  background: black;
  transition: 0.3s;
  width: 393px;
  height: 100vh;
  font-size: 6rem;
  justify-content: center; 
  text-align: center;
  line-height: 50px;
}
/******Carrito de compras****/
.carrito_img {  
  width: 40px;
  height: 40px;  
  cursor: pointer;  
  margin-right: 40px;
}
.carrito_img i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.carrito_img i:hover {
 scale: 1.2;
}
.carrito_container {
  display: none;
  border-top: 1px solid white;
  width: 100vw; 
  max-width: 380px; 
  height: 90vh;   
  margin-top: 100px;  
  margin-bottom: auto;
  position: absolute;  
  top: 0;
  right: calc(50vw - 190px);
  transition: 0.3s;
  color: black;
  z-index: 2;
  background-color: white;   
}
.carrito_container .header_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color:black;
  color: white;   
}
.carrito_container .header_carrito h3 { 
  font-size: 2rem;  
}
.carrito_container .carrito_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
  padding: 20px;
}
.carrito_container .carrito_item img {
  margin-right: 10px; 
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.carrito_container .carrito_item_detalle {
  width: 180px;
  margin-left: 20px;
}
.carrito_container .carrito_item .carrito_item_titulo {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.carrito_container .carrito_item .selector_cantidad {
  display: inline-block; 
  margin-right: 25px;  
}
.carrito_container .carrito_item .carrito_item_cantidad {
  border: none;
  font-size: 2rem;
  background: rgba(237, 236, 236, 0.918);
  display: inline-block;
  width: 50px;
  height: 20px;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
}
.carrito_container .carrito_item .selector_cantidad i{ 
  font-size: 1rem;
  width: 20px;
  height: 20px;
  line-height: 32px;
  text-align: center;  
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}
.carrito_container .carrito_item .carrito_item_precio {
  font-weight: bold;
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.carrito_container .carrito_item .btn_eliminar {
  display: flex; 
  position: absolute;
  top: 10px;
  right: 10px;
  align-items: center; 
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;  
  background: transparent;
  z-index: 20;
}
.carrito_container .carrito_item .btn_eliminar:hover {
 scale: 1.05;
}
.carrito_container .carrito_item .btn_eliminar i {
  display: flex;
  font-size: 1.5rem;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}
.carrito_container .carrito_total { 
  display: flex;
  flex-direction: column;
  justify-content: center;  
  position: absolute;
  bottom: 50px;
  width: 340px;
  height: 140px;
  background-color: grey;
  padding: 20px; 
  border-top: 1px solid black;  
}
.carrito_total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.carrito_total .btn_pagar {
  display: flex;  
  width: 100%;
  margin: 0;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 2rem;
  padding: 40px;
  justify-content: space-between; 
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.carrito_total .btn_pagar:hover {
  scale: 1.1;
}
@media (min-width: 1250px)
{
  .header {
    height: 600px;
  }
  .header_logo {
    width: max-content;
    height: max-content;
  }
  .header_logo img {
    margin-left: 150px;
    height: auto;
    width:600px;
  }
  .header .menu_hamburguesa {
    display: none;
  }
  .header .nav_bar {
    display: flex;    
    position: static;
    width: max-content;
    height: 100%;
  }
  .nav_bar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .nav_bar__items li {
    margin: auto 80px;
    font-size: 8rem;
  }
  .nav_bar__items li:hover {
    scale: 1.2;
  }
  .carrito_img {
    width: 200px;
    height: max-content;
    margin-right: 150px;
  }
  .carrito_img i {
   font-size: 12rem;
  }
  .carrito_container {
    right: 0;
  }
}