/**************************Estilos HEADER****************************/
.header .menu_hamburguesa {
  display: none;
}
.header {
  display: flex; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 150px;  
}
.header img {
  width: 140px;
  height: 70px; 
  padding-left: 40px;  
}
.header .nav_bar {
 width: max-content;
 padding-right: 40px;  
}
.nav_bar ul {
  display: flex;  
  height: 100%;
  justify-self: center;
  color: white;
}
.nav_bar ul li a { 
  color: white;
  font-size: 1rem; 
  align-items: center;
  height: 100%;
  font-weight: 600;
  margin: 0 20px;
  border: 1px solid transparent;
}
.nav_bar ul li a:hover { 
  color: green;
  text-overflow: #008000;
  font-weight: 800;
}
.nav_bar a {
  max-width: max-content;
  background-color: transparent; 
}
@media (max-width: 1000px)
{  
  .header img {
    width: 100px;
    height: 50px;      
  }  
  .nav_bar ul li a {    
    font-size: 0.6rem;
  }   
}
@media (max-width: 700px)
{  
  .header .nav_bar ul {
    padding: 0;
  }  
  .header .nav_bar {
    width: max-content;  
    padding: 0 20px 0 0;  
  }
  .nav_bar ul li a {
    margin: 0 10px;   
  }   
}
@media (max-width: 640px)
{  
  .header {
    padding: 0;
    justify-content: space-between;    
    width: 100%;  
    height: 80px;
  }
  .header .nav_bar {
    display: none;    
  }
  .header .menu_hamburguesa {
    display: flex; 
    flex-direction: column;   
    width: 30px;
    height: 30px;
    padding: 0 40px;
  }    
  .menu_hamburguesa .linea_superior {
    width: 30px;
    height: 4px;
    border-radius: 20px;
    background-color: #008000;
    opacity: 0.5;
    margin: 1.5px 0;
  }
  .menu_hamburguesa .linea_medio {
    width: 30px;
    height: 4px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.5;
    margin: 1.5px 0;
  }
  .menu_hamburguesa .linea_inferior {
    width: 30px;
    height: 4px;
    border-radius: 20px;
    background-color: red;
    opacity: 0.5;
    margin: 1.5px 0;
  }
  .header img {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 40px;    
    width: 80px;
    height: 40px;
  }    
}