/**********************Estilos GENERALES****************************/
* {
    border-radius: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    font-weight: 300;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /******************************INICIO DE MAIN******************************/
  /***Acá están las 5 secciones de todos los productos, pizzas, pastas, otras delicias, ensaladas y bebidas***/
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: auto 0;
  }
  
  h1 , h2 {
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 40px 0 40px 0;
  }
  
  .hero_video {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin-top: 50px;    
  }

  .slogan_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .slogan_titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slogan_titulo p {
    font-size: 1rem;
  }

  .flecha_menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 20px auto;
  }

  .flecha_menu_container img {
    width: 20px;
    height: 20px;
  }

  .slogan_imagenes_container {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 10px;
    margin: 50px auto;
  }

  .slogan_imagenes_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }











  @media (min-width: 1400px) {
    main {
      padding-top: 140px;
      height: max-content;    
    }
  
    h1 {
      font-size: 4rem;
      margin-top: 80px;
      margin-bottom: 60px;
    }
 
  }