/**********************Estilos GENERALES****************************/
* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;  
  background: linear-gradient(to top, rgb(0 0 0 / .5), rgb(0 0 0 / .5));
}
ul {
  list-style: none;
}

/******************************INICIO DE MAIN******************************/
main {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: max-content;
  justify-content: center;
  align-items: center;  
}
h1 {
  font-size: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px auto;
}
.container_menu {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1200px; 
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.container_menu .card {  
  display: flex;  
  height: max-content;
  max-width: 300px;  
  background-color: #008000;
  margin: 20px;
  border-radius: 30px;  
}
.container_menu .card_pizza {
  background-image: url(./imagenes/Fondo_Pizzas.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
.container_menu .card_pasta {
  background-image: url(./imagenes/Fondo_Pastas.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
.container_menu .card_otras_delicias{
  background-image: url(./imagenes/Fondo_Hamburguesas.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.container_menu .card_ensaladas {
  background-image: url(./imagenes/Fondo_Ensaladas.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.container_menu .card_bebidas {
  background-image: url(./imagenes/Fondo_Bebidas.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.container_menu .card a {  
  height: max-content;
  width: 100%;
  align-self: flex-end;
  margin: 10px;
  border-radius: 10px; 
}
.container_menu .card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;  
  margin-top: 40px;
}
.container_menu .card p {
  font-size: 2rem;
  text-align: left;
  margin: 40px;
}
.container_menu .card button {  
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e4bc22;  
  justify-self: end;
  margin: 0 40px 40px 40px;
}
.container_menu .card a:hover {   
  opacity: 0.7;
  border-color: 1px solid #008000;
  cursor: pointer;
}
/***********************MENU PIZZAS**************/

