/**********************Estilos GENERALES****************************/
* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: white;   
}
ul {
  list-style: none;
}
p {
  font-weight: 300;
}
/******************************INICIO DE MAIN******************************/
/***Acá están las 5 secciones de todos los productos, pizzas, pastas, otras delicias, ensaladas y bebidas***/
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: max-content;
  background-color: white;  
  justify-content: center;
  align-items: center;
  padding-top: 100px;   
}
h1 {
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 40px 0 40px 0;
}
.container_menu {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 5px;
  row-gap: 5px;    
  margin-bottom: 40px; 
  width: 320px; 
  justify-content: center;
  align-items: center; 
  z-index: 0;
}
.container_menu .card {  
  display: flex;  
  height: 200px;  
  width: 150px;
  margin: 5px;
  border-radius: 30px;  
}
.container_menu .card_pizza {
  background-image: url(./imagenes/pizzas/pizza_california2_Mobile.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menu .card_pasta {
  background-image: url(./imagenes/pastas/pasta_Mobile.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menu .card_otras_delicias{
  background-image: url(./imagenes/otras_delicias/hamburguesa04_Mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menu .card_ensaladas {
  background-image: url(./imagenes/ensaladas/ensalada_cesar_Mobile.JPG);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menu .card_bebidas {
  background-image: url(./imagenes/bebidas/Fondo_Bebidas_Mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container_menu .card a { 
  display: flex;  
  height: 100%;
  width: 100%;  
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 30px; 
  background: linear-gradient(to top, rgb(0 0 0 / .5), rgb(0 0 0 / .5));
}
.container_menu .card a:hover {
  background: transparent;
}
.container_menu .card h2 {
  display: flex;  
  align-items: center;
  font-size: 2rem;   
  padding-bottom: 20px;
  opacity: 0.5;
  text-align: center;
}
.container_menu .card h2:hover {
  opacity: 1;
}
.container_menu .card p {
  font-size: 2rem;
  text-align: center;
  margin: 10px; 
}
.container_menu .card button {  
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e4bc22;  
  justify-self: end; 
  margin-bottom: 10px; 
}
.container_menu .card:hover {   
  scale: 1.05;  
  cursor: pointer;  
}
