/**********************Estilos GENERALES****************************/
* {
    border-radius: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    font-weight: 300;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /******************************INICIO DE MAIN******************************/
  /******Inicio de la página inicio*****/
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: max-content;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin: auto 0;
  }
  
  h2 {
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  /*Estilos para la sección blog*/
  
 
  .items_blog_container {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: scroll;
  }

  .item_blog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;   
    width: 100vw;
    max-width: 600px;
    height: auto;
    margin: 0 10px 50px 10px;
  }

  .item_blog img {  
    width: 90vw;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
  }

  .item_blog h3 { 
    max-width: 80%;
    margin-left: 20px;  
    font-size: 2rem;
    font-weight: 900;
  }

  .item_blog p {
    max-width: 80%;
    margin: 30px 0 10px 20px;
    font-size: 1rem;
  }

  .item_blog p:nth-child(2) {
    color: gray;
    font-weight: 900;   
  }

  .btn_leer_mas {
    position: absolute;
    bottom: -20px;
    right: 30px;
    display: flex;
    font-size: 1rem;
    font-weight: 900;
    width: 80px;
    border: transparent;
    background: transparent;
    justify-self: flex-end;   
  }

  .btn_leer_mas:hover {
    color: gray;
  }




  
  @media (min-width: 1400px) {
    main {
      padding-top: 140px;
      height: max-content;    
    }
  
    h1 {
      font-size: 4rem;
      margin-top: 80px;
      margin-bottom: 60px;
    }
 
  }