/**********************Estilos GENERALES****************************/
* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: white;  
}
ul {
  list-style: none;
}
/******************************INICIO DE MAIN******************************/
main {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: max-content;
  justify-content: center;
  align-items: center;  
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px auto;
}
.container_menu {
  width: max-content;  
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
/******************************CARD***********************************/
.container_menu .card {
  position: relative;
  height: 100px;
  width: 550px;  
  border: 2px solid #008000;  
  margin: 5px;
  border-radius: 30px;
}
.container_menu .card a {
  display: flex;
  border-radius: 30px;
  margin: 0;
  color: #008000;
}
.container_menu .card a img {
 height: 100px;
 width: 100px; 
 border-radius: 30px 0 0 30px; 
}
.container_menu .card .card_descripcion {
  width: 100%;
}
.container_menu .card h2 {
  margin-top: 0.8rem;
}
.container_menu .card .card__container_precio p {
  margin: 5px;
  font-size: 1rem;  
}
.container_menu .card .card__container_precio {
  display: flex;
  justify-content: space-between;
}
.container_menu .card .card__container_precio p {
  font-size: 1rem;
  font-weight: 600;
  align-self: end;
  color: red; 
  margin: 10px 30px;
}
.container_menu .card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;   
}
.container_menu .card p {
  font-size: 18px;
  text-align: center; 
  margin: 0 20px; 
}
.container_menu .card button { 
  position: absolute; 
  top: 50px;
  right: 0;
  border-radius: 200px 0 100px 0;
  width: 50px;
  height: 50px;
  font-size: 0.5rem;
  font-weight: 600;
  background-color: red;  
  justify-self: end;
  margin: 0;
}
.container_menu .card a:hover {   
  opacity: 0.7;
  border-color: 1px solid #008000;
  cursor: pointer;
}
@media (max-width: 1200px)
{ 
  .container_menu { 
    grid-template-columns: repeat(2,1fr);     
    column-gap: 5px;
    row-gap: 5px;    
    margin-bottom: 50px;
  }  
  .container_menu .card {
    position: relative;
    height: 100px;
    width: 450px;
    background-color: #008000;
    margin: 5px;
    border-radius: 30px;
  }
}
@media (max-width: 1000px)
{ 
  .container_menu { 
    grid-template-columns: repeat(1,1fr);    
  }  
  .container_menu .card {    
    width: 400px;    
  }
}
@media (max-width: 600px)
{ 
  h1 {
    font-size: 2rem;    
  }
  .container_menu .card h2 {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  .container_menu .card p {
    font-size: 0.6rem;
  }
  .container_menu .card {
    position: relative;
    height: 60px;
    width: 300px;
    background-color: #008000;
    margin: 5px;
    border-radius: 20px;
  } 
  .container_menu .card button { 
    top: 35px;
    width: 25px;
    height: 25px;
    font-size: 0.3rem;    
  }
  .container_menu .card .card__container_precio p {
    font-size: 0.6rem;   
  }
}