/**********************Estilos GENERALES****************************/
* {
  border-radius: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: white;  
}
ul {
  list-style: none;
}
/******************************INICIO DE MAIN******************************/
main {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: max-content;
  justify-content: center;
  align-items: center;  
  padding-top: 80px;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
}
.container_menu {
  width: max-content;  
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
/******************************CARD***********************************/
.container_menu .card {
  position: relative;
  width: 550px;  
  height: 150px;  
  border: 2px solid #008000;  
  margin: 5px;
  border-radius: 30px;
}
.container_menu .card a {  
  display: flex;
  border-radius: 30px;
  margin: 0;
  color: #008000;
}
.container_menu .card a img{
 height: 150px; 
 width: 100px;
 max-width: 200px; 
 border-radius: 30px 0 0 30px; 
}
.container_menu .card .card_descripcion {
  margin: auto;
  width: 80%;
}
.container_menu .card h2 {
  margin-top: 10px;
}
.container_menu .card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;   
}
.container_menu .card p {
  font-size: 1rem;
  text-align: center; 
  margin: 0 20px; 
}
.container_menu .card .card_boton button { 
  position: absolute; 
  top: 100px;
  right: 0; 
  width: 50px;
  height: 50px;
  font-size: 0.5rem;
  font-weight: 800;
  color: black;
  background-color: red; 
  border-radius: 50px 0 18px 0;  
}
.container_menu .card .card_boton button:hover { 
  scale: 1.02;
  color: white; 
}
.container_menu .card .card_add_cart{ 
  position: absolute; 
  top: 120px;
  right: -15px; 
  width: 50px;
  height: 50px;
  font-size: 1.2rem;  
}
.container_menu .card a:hover {   
  opacity: 0.7;
  border-color: 1px solid #008000;
  cursor: pointer;
}
@media (max-width: 1200px)
{ 
  h1 {
    font-size: 2rem;    
  }
  .container_menu .card h2 {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  .container_menu .card p {
    font-size: 0.6rem;
  }
  .container_menu .card {
    position: relative;
    height: 150px;
    width: 280px;   
    margin: 5px;
    border-radius: 20px;
  } 
  .container_menu .card .button { 
    top: 125px;
    width: 25px;
    height: 25px;
    font-size: 0.3rem;    
  }  
  .container_menu .card a img {
    width: 100px;
    height: 150px;
    border-radius: 18px 0 0 18px;
  }
}
@media (max-width: 600px)
{
  .container_menu { 
    grid-template-columns: repeat(1,1fr);    
  } 
}
